.App {
  background-color: white;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 50;
  font-size: 0.80rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: center;
}
.shipment-table{
  margin: 12px;
  border-collapse: collapse;
}
.shipment-table thead{
  text-align: left;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 2.66;
  letter-spacing: 0.08333em;
}
.shipment-table td{
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 50;
  font-size: 0.80rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  color: gray;
  
}
.shipment-table td, th{
  padding: 10px;
}
.shipment-table tr{
  border-top: 1px solid rgba(88, 88, 88, 0.326);
}
/*No border on headers row*/
.shipment-table thead tr{ 
  border: none;
}
.shipment-table th{
  background: rgba(183, 183, 183, 0.966);
  
}
.shipment-table tr button{
  width: 50px;
  height:50px;
  text-align: center;
  border-radius: 10px;
}
.shipment-table tr .details-button{
  background-color: rgba(0, 255, 255, 0.468);
}
.shipment-table tr .delete-button{
  background-color: red;
}
